/*
  Made by Plrrb (https://github.com/Plrrb)
  For my Website (https://plrrb.github.io/)
  This is the CSS for the main page
*/

#games {
    font-size: 20px;
    text-align: center;
}

.game {
    background-color: #D3D3D3;
    border: solid #1e1e1e;
    display: inline-block;
    margin: 5px;
    width: 300px;
}

.game img {
    border-bottom: solid #1e1e1e;
}

.game p {
    padding-bottom: 5px;
}

.game:hover {
    opacity: 0.50;
}

.game a:link,
.game a:visited {
    color: black;
    text-decoration: none;
}
