* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: lightseagreen;
  border: solid #1e1e1e;
  text-align: center;
}

header {
  margin: 10px 10px 5px 10px;
}

footer {
  margin: 5px 10px 10px 10px;
}
